body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.navbar {
    background-color: #333;
    padding: 0;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-list li {
    display: inline-block;
}

.nav-list a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
}

.nav-list a:hover {
    background-color: #555;
}